<header style="background-color: white; font-size: 20px;">
  <div class="container">
    <nav class="navbar navbar-dark navbar-expand-lg">
      <a class="navbar-brand">
        <img src="assets/LOGO.png" height="50" alt="image" routerLink="/home">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav5" aria-controls="navbarNav5" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarNav5">
        <div class="d-flex">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item" style="padding-right: 20px;">
                  <a routerLinkActive="active" class="nav-link" routerLink="/all_picnics">Picnic Spots</a>
              </li>
              <li class="nav-item" style="padding-right: 20px;">
                  <a routerLinkActive="active" class="nav-link"routerLink="/all_coffeshops">Coffee Shops</a>
              </li>
              <li class="nav-item" style="padding-right: 20px;">
                  <a routerLinkActive="active" routerLink="/all_restaurants" class="nav-link">Restaurants</a>
              </li>
              <li class="nav-item">
                  <a routerLinkActive="active" routerLink="/all_events" class="nav-link">Events</a>
              </li>
          </ul>
      </div>
      
      </div>
      <button class="btn btn-warning " style="background-color: #5aa7bb; border:none; font-size: 18px; border-radius: 20px;" (click)="navigateToHomeAndScroll()">Join us</button>    </nav>

  </div>
</header>