<section id="content">
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Event owner's requests</h1>
                <ul class="breadcrumb">
                <li>
                    <a >organiser requests</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" routerLink="/home">Home</a>
                </li>
            </ul>
            </div>
          
        </div>
        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Events Details</h3>
                    <i class='bx bx-plus' (click)="openPopup2()">   </i>

                    <div class="container">
                        <input type="text" name="text" class="input" required="" placeholder="Type to search..." [(ngModel)]="searchText">
                        <div class="icon">
                          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                            <title>Search</title>
                            <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                          </svg>
                        </div>
                      </div>
                      
                    <i class='bx bx-filter' ></i>
  
                    </div>
  
                    <!-- form add -->
                    <div class="popup-container" *ngIf="isPopupVisible2">
                      <div class="popup scrollable-container" style="width: 650px;height: 600px;overflow-x: hidden; overflow-y: auto;">
  
                        <div>
                          <span class="close-button" (click)="closePopup2()">&times;</span>
  
                                          
                            <div class="row">
                              <div class="col-md-12 mx-2">
                                  <form id="msform">
                                     
                                    <fieldset *ngIf="currentStep === 1">
                    
                                      <div class="form-card">
                                        <h2 class="fs-title">Owner Informations</h2><br><br>
                                        <div class="group">
                                          <div class="name">
                                              <label for="firstName">First name</label>
                                                <input type="text" id="firstName" name="firstName" placeholder="First Name" [(ngModel)]="organiserdata[0].first_name"/>
                                                <i class="fa-solid fa-user-pen"></i>
                                            </div>
                                       <div class="name">
                                          <label for="lastName">Last name</label>
                                          <input type="text" id="lastName" name="lastName" placeholder="Last Name" [(ngModel)]="organiserdata[0].last_name"/>
                                          <i class="fa-regular fa-circle-user"></i>
                                      </div>
                                        </div>
                                        <div class="icone">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" name="email" placeholder="Email Address" [(ngModel)]="organiserdata[0].email"/>
                                        <i class="fa-solid fa-envelope"></i>
                                      </div>
                                      <div class="icone">
                                        <label for="phoneNumber">Phone number</label>
                                        <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" [(ngModel)]="organiserdata[0].Phone_number"/>
                                        <i class="fa-solid fa-mobile-screen-button"></i>
                                        </div>
                                        
                                        <input type="button" name="next" class="action-button action-button-center" value="Next" (click)="nextStep()" />
                                    </div>
                                    
                                    
                                      </fieldset>
                                      <fieldset *ngIf="currentStep === 2">
                                        <div class="form-card">
                                            <h2 class="fs-title">event Details</h2><br><br>
                                            <div class="group">
                                              <div class="name">
                                                <label for="eventName">event Name</label>
                                                <input type="text" id="eventName" name="eventName" placeholder="Event Name" [(ngModel)]="name_event"/>
                                                <i class="fa-solid fa-pen"></i>
                                              </div>
                                              <div class="name">
                                                <label for="address">Address/Location</label>
                                                <input type="text" id="address" name="address" placeholder="Address/Location" [(ngModel)]="adresse"/>
                                                <i class="fa-solid fa-location-dot"></i>
                                              </div>
                                              </div>
                                              <div class="container1">
                                                <form [formGroup]="form">
                                                  <div style="margin-left: 15px;">
                                                    <label for="states">Governorate</label>
                                                    <select id="states" formControlName="selectedState" (change)="onStateChange()" class="option" [(ngModel)]="state">
                                                      <option value="">Select a Governorate</option>
                                                      <option *ngFor="let state of getStates()" [value]="state">{{ state }}</option>
                                                    </select>
                                                  </div>                               
                                                  <div *ngIf="cities.length > 0" style="margin-left: 90px;">
                                                    <label for="cities">City</label>
                                                    <select id="cities" formControlName="selectedCity" class="custom-select option" style="max-height: 150px; overflow-y: auto;"[(ngModel)]="city">
                                                      <option value="" disabled>Select a city</option>
                                                      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
                                                    </select>
                                                  </div>
                                                </form>
                                              </div>
                                             
                                              <div class="icone" style="margin-top:20px; ">
                                                <label for="description">Description</label>
                                                      <textarea id="description" name="description" placeholder="Description"  [(ngModel)]="description" style=" width: 520px; height: 30px;"></textarea>      
                                                         </div>
                                      
                                                <label for="category">Category</label>
                                                <div class="category-buttons">
                                                  <button type="button" class="category-button" [class.clicked]="category === 'Picnic Trip'" (click)="selectCategory('Picnic Trip')" value="Picnic Trip" >
                                                    <i class="fa-solid fa-mountain-sun"></i> Picnic Trip
                                                </button>
                                                <button type="button" class="category-button" [class.clicked]="category === 'Camping'" (click)="selectCategory('Camping')" value="Camping">
                                                  <i class="fa-solid fa-tent"></i> Camping
                                              </button>
                                                  <button type="button" class="category-button" [class.clicked]="category === 'Musical Concert'" (click)="selectCategory('Musical Concert')" value="Musical Concert">
                                                    <i class="fa-solid fa-music"></i> Musical Concert
                                                  </button>
                                                  <button type="button" class="category-button" [class.clicked]="category === 'Workshops'" (click)="selectCategory('Workshops')" value="Workshops">
                                                    <i class="fas fa-tools"></i> Workshops 
                                                  </button>
                                                  <button type="button" class="category-button" [class.clicked]="category === 'Food Festivals'" (click)="selectCategory('Food Festivals')" value="Food Festivals">
                                                    <i class="fa-solid fa-utensils"></i> Food Festivals
                                                  </button>
                                                  <button type="button" class="category-button" [class.clicked]="category === 'Carnivals'" (click)="selectCategory('Carnivals')" value="Carnivals">
                                                   <i class="fas fa-mask"></i>Carnivals
                                                  </button>
                                  
                                              </div>
                                                
                                                <input type="hidden" id="category" name="category" value=""/>
                                                <div class="icone">
                                                <label for="type">Type</label><br><br>
                                                    
                                                <div *ngIf="category === 'Musical Concert'">
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Pop'" (click)="selecttype('Pop')" value="Pop">PoP</button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Jazz'" (click)="selecttype('Jazz')" value="Jazz">Jazz</button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Rock'" (click)="selecttype('Rock')" value="Rock">Rock</button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Hip Hop/Rap'" (click)="selecttype('Hip Hop/Rap')" value="Hip Hop/Rap">Hip Hop/Rap</button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Electronic'" (click)="selecttype('Electronic')" value="Electronic">Electronic</button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Country'" (click)="selecttype('Country')" value="Country">Country</button>
                  
                                                </div>
                                                <div *ngIf="category === 'Workshops'">
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Entrepreneurship'" (click)="selecttype('Entrepreneurship')" value="Entrepreneurship">Entrepreneurship</button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Personal Growth '" (click)="selecttype('Personal Growth ')" value="Personal Growth ">Personal Growth </button>
                                                </div>
                                                <div *ngIf="category === 'Picnic Trip'">
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Friendship'" (click)="selecttype('Friendship')" value="Friendship">Friendship</button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Romantic'" (click)="selecttype('Romantic')" value="Romantic">Romantic </button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Beach'" (click)="selecttype('Beach')" value="Beach">Beach </button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Family'" (click)="selecttype('Family')" value="Family">Family </button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Themed'" (click)="selecttype('Themed')" value="Themed">Themed </button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Cultural'" (click)="selecttype('Cultural')" value="Cultural">Cultural </button>
                                                </div>
                                                <div *ngIf="category === 'Camping'">
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Group'" (click)="selecttype('Group')" value="Group">Group</button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Romantic'" (click)="selecttype('Romantic')" value="Romantic">Romantic </button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Beach'" (click)="selecttype('Beach')" value="Beach">Beach </button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Desert'" (click)="selecttype('Desert')" value="Desert">Desert </button>
                                                 
                                                </div>
                                                <div *ngIf="category === 'Food Festivals'">
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='International Food '" (click)="selecttype('International Food ')" value="International Food ">International Food </button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Ethnic Food '" (click)="selecttype('Ethnic Food')" value="Ethnic Food ">Ethnic Food  </button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Regional Food'" (click)="selecttype('Regional Food ')" value="Regional Food ">Regional Food  </button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Street Food '" (click)="selecttype('Street Food ')" value="Street Food ">Street Food  </button>
                                                  <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Seafood'" (click)="selecttype('Seafood')" value="Seafood ">Seafood  </button>
                  
                                                </div>
                                                <div *ngIf="category === 'Carnivals'">
                                                  <button class="event-button" [class.clicked]="type_event == 'Traditional'" (click)="selecttype('Traditional')" value="Traditional">Traditional</button>
                                                  <button class="event-button" [class.clicked]="type_event == 'Street'" (click)="selecttype('Street')" value="Street">Street</button>
                                                  <button class="event-button" [class.clicked]="type_event == 'Seasonal'" (click)="selecttype('Seasonal')" value="Seasonal">Seasonal</button>
                                                  <button class="event-button" [class.clicked]="type_event == 'Art'" (click)="selecttype('Art')" value="Art">Art</button>
                                              </div>
                                              
                                                <!-- Display added options -->
                                        <button *ngFor="let option of options" class="event-button" 
                                        [class.clicked]="type_event == option" 
                                        (click)="selecttype(option)" 
                                        value="option">{{ option }}</button>
      
                                    <!-- Display input for adding more options -->
                                    <div class="add-options-container">
                                      <button class="event-button" (click)="addOptionInput()">More options +</button>
                                      <div *ngIf="showOptionInput" class="option-input-container">
                                        <input type="text" [(ngModel)]="newOption" name="newOption" placeholder="Enter new option" />
                                        <button class="option-button" (click)="addOption()">Add Option</button>
                                      </div>
                                    </div>
                                              </div>
                                               
                                            <div class="button-container">
                                                <input type="button" name="previous" class="action-button-previous" value="Previous" (click)="previousStep()"/>
                                                <input type="button" name="next" class="action-button" value="Next " (click)="nextStep()"/>
                                            </div>
                                        </div>
                                    </fieldset>
                  
                                    <fieldset *ngIf="currentStep === 3">
                                      <div class="form-card">
                                        <h2 class="fs-title">Event services</h2><br>
                  
                                        <div class="menu">
                                          <label id="Menu" for="menu">Event Posters</label>
                                          <label for="file" class="file-upload-label">
                                            <div class="file-upload-design">
                                              <span class="browse-button">
                                                <i class="fa-solid fa-file-circle-plus"></i>Add posters
                                              </span>
                                            </div>
                                            <input id="file" type="file" (change)="onFileSelected($event)" multiple />
                                          </label>
                                          <div class="uploaded-images">
                                            <div *ngFor="let image of uploadedImages; let i = index" class="image-preview">
                                              <img [src]="image.url" alt="Selected image" />
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="option">
                                          <label for="access_vip"><i class="fa-solid fa-star"></i>access vip:</label>
                                          <div class="radio-group">
                                            <div class="radio">
                                                <input type="radio" name="r1" [value]="true" [(ngModel)]="access_vip">
                                                <span>Yes</span>
                                            </div>
                                            <div class="radio">
                                                <input type="radio" name="r1" [value]="false" [(ngModel)]="access_vip">
                                                <span>No</span>
                                            </div>
                                        </div>
                                          </div>
                                          <br>
                                          <div class="option">
                                            <label for="tick"><i class="fa-solid fa-ticket"></i>free-tickets:</label>
                                            <div class="radio-group">
                                              <div class="radio">
                                                  <input type="radio" name="r2" [value]="true" [(ngModel)]="free_tickets">
                                                  <span>Yes</span>
                                              </div>
                                              <div class="radio">
                                                  <input type="radio" name="r2" [value]="false" [(ngModel)]="free_tickets">
                                                  <span>No</span>
                                              </div>
                                          </div>
                                            </div>
                                          <div class="group">
                                            <div class="name">
                                              <label for="capacity">capacity</label>
                                              <input type="number" id="capacity" name="capacity" placeholder="capacity" [(ngModel)]="Capacity"/>
                                              <i class="fa-solid fa-location-dot"></i>
                                            </div>
                                            <div class="name">
                                              <label for="dresscode">dress code</label>
                                              <input type="text" id="dresscode" name="dresscode" placeholder="dress code" [(ngModel)]="Dress_Code"/>
                                              <i class="fa-solid fa-person-dress"></i>                                          </div>
                                            </div>
                                        <div class="opening-hours">
                                          <span>debut date:</span>
                                          <input type="date" id="debutdate" name="debutdate" placeholder="debut date" [(ngModel)]="date_debut"/>
                                          <span>ending date:</span>
                                          <input type="date" id="enddate" name="enddate" placeholder="end date" [(ngModel)]="date_fin"/>
                                      </div>
                                 
                                        
                                
                             
                            
                            <div class="opening-hours">
                                <span>begining time:</span>
                                <input type="time" id="beginingtime" name="beginingtime" placeholder="begining time " [(ngModel)]="heure_debut"/>
                                <span>ending time:</span>
                                <input type="time" id="endingtime" name="endingtime" placeholder="ending time" [(ngModel)]="heure_fin"/>
                            </div>
                  
                            <div class="price-container">
                              <div class="price" width="100px">
                                <div class="price-input">
                                  <label for="price">Price:</label>
                                  <div class="input-with-unit">
                                    <input type="number" id="price" name="prix" [(ngModel)]="prix" /> 
                                    <span class="unit">DT</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                  
                                        <div class="button-container">
                                          <input type="button" name="previous" class="action-button-previous" value="Previous" (click)="previousStep()"/>
                                          <input type="button" name="next" class="action-button" value="Next " (click)="nextStep()"/>
                                        </div>
                                      </div>
                                    
                                    </fieldset>
                                  
                                    <fieldset *ngIf="currentStep === 4">
                                      <div class="form-card">
                                        <h2 class="fs-title">Contact</h2>
                                        <div class="group">
                                          <div class="name">
                                              <label for="firstName">Email</label>
                                                <input type="text" id="firstName" name="firstName" placeholder="Email" [(ngModel)]="email_events"/>
                                                <i class="fa-solid fa-envelope"></i>
                                            </div>
                                       <div class="name">
                                          <label for="lastName">Phone number</label>
                                          <input type="text" id="lastName" name="lastName" placeholder="+phone number" [(ngModel)]="event_phone_number"/>
                                          <i class="fa-solid fa-mobile-screen-button"></i>
                                      </div>
                                        </div>
                                          <div class="group">
                                            <div class="name">
                                             
                                                <label for="firstName">Facebook</label>
                                                  <input type="text" id="firstName" name="firstName" placeholder="facebook" [(ngModel)]="facebook"/>
                                                  <i class="fa-brands fa-facebook"></i>
                                                 
                                              </div>
                                         <div class="name">
                                          
                                            <label for="lastName">Instagram</label>
                                            <input type="text" id="lastName" name="lastName" placeholder="Instagram" [(ngModel)]="instagram"/>
                                            <i class="fa-brands fa-instagram"></i>
                                        </div>
                                          </div>
                  
                                          <div class="icone">
                                            <label for="website">
                                              Website
                                          </label>                                             
                                          <input type="text" id="website" name="website" placeholder="Enter your website URL" [(ngModel)]="website">
                                          <i class="fa fa-globe"></i>
                                        </div>        
                                          <div class="button-container">
                                          <input type="button" name="previous" class="action-button-previous" value="Previous" (click)="previousStep()"/>
                                          <input type="button" name="next" class="action-button" style="padding-top: 10px; padding-left: 18px; padding-right:10px ; " value="Submit" (click)="addeventrequest()"/>
                                        </div>
                                         
                                        </div>
                                  </fieldset>
                              
                                    
                                  </form>
                              </div>
                          </div>
            
                        </div>
                      </div>
            
                 </div>
                    


          <!-- form update -->
          <div class="popup-container" *ngIf="isPopupVisible3">
            <div class="popup scrollable-container" style="width: 650px;height: 600px;overflow-x: hidden; overflow-y: auto;">

            <div>
              <span class="close-button" (click)="closePopup3()">&times;</span>

                              
                <div class="row">
                  <div class="col-md-12 mx-2">
                      <form id="msform">
                       
                          
                        <fieldset *ngIf="currentStep === 1">
        
                          <div class="form-card">
                            <h2 class="fs-title">Owner Informations</h2><br><br>
                            <div class="group">
                              <div class="name">
                                  <label for="firstName">First name</label>
                                    <input type="text" id="firstName" name="firstName" placeholder="First Name" [(ngModel)]="organiserdata[0].first_name"/>
                                    <i class="fa-solid fa-user-pen"></i>
                                </div>
                           <div class="name">
                              <label for="lastName">Last name</label>
                              <input type="text" id="lastName" name="lastName" placeholder="Last Name" [(ngModel)]="organiserdata[0].last_name"/>
                              <i class="fa-regular fa-circle-user"></i>
                          </div>
                            </div>
                            <div class="icone">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="Email Address" [(ngModel)]="organiserdata[0].email"/>
                            <i class="fa-solid fa-envelope"></i>
                          </div>
                          <div class="icone">
                            <label for="phoneNumber">Phone number</label>
                            <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" [(ngModel)]="organiserdata[0].Phone_number"/>
                            <i class="fa-solid fa-mobile-screen-button"></i>
                            </div>
                            
                            <input type="button" name="next" class="action-button action-button-center" value="Next" (click)="nextStep()" />
                        </div>
                        
                        
                          </fieldset>
                          <fieldset *ngIf="currentStep === 2">
                            <div class="form-card">
                                <h2 class="fs-title">event Details</h2><br><br>
                                <div class="group">
                                  <div class="name">
                                    <label for="eventName">event Name</label>
                                    <input type="text" id="eventName" name="eventName" placeholder="Event Name" [(ngModel)]="name_event"/>
                                    <i class="fa-solid fa-pen"></i>
                                  </div>
                                  <div class="name">
                                    <label for="address">Address/Location</label>
                                    <input type="text" id="address" name="address" placeholder="Address/Location" [(ngModel)]="adresse"/>
                                    <i class="fa-solid fa-location-dot"></i>
                                  </div>
                                  </div>
                                 
                                  <div class="container1">
                                    <form [formGroup]="form">
                                      <div style="margin-left: 15px;">
                                        <label for="states">Governorate</label>
                                        <select id="states" formControlName="selectedState" (change)="onStateChange()" class="option" [(ngModel)]="state">
                                          <option value="">Select a Governorate</option>
                                          <option *ngFor="let state of getStates()" [value]="state">{{ state }}</option>
                                        </select>
                                      </div>                               
                                      <div *ngIf="cities.length > 0" style="margin-left: 90px;">
                                        <label for="cities">City</label>
                                        <select id="cities" formControlName="selectedCity" class="custom-select option" style="max-height: 150px; overflow-y: auto;"[(ngModel)]="city">
                                          <option value="" disabled>Select a city</option>
                                          <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
                                        </select>
                                      </div>
                                    </form>
                                  </div>
                                 
                                  <div class="icone" style="margin-top:20px; ">
                                    <label for="description">Description</label>
                                                                        <textarea id="description" name="description" placeholder="Description"  [(ngModel)]="description" style=" width: 520px; height: 30px;"></textarea>      
                                                                      </div>
                          
                                    <label for="category">Category</label>
                                    <div class="category-buttons">
                                      <button type="button" class="category-button" [class.clicked]="category === 'Picnic Trip'" (click)="selectCategory('Picnic Trip')" value="Picnic Trip" >
                                        <i class="fa-solid fa-mountain-sun"></i> Picnic Trip
                                    </button>
                                    <button type="button" class="category-button" [class.clicked]="category === 'Camping'" (click)="selectCategory('Camping')" value="Camping">
                                      <i class="fa-solid fa-tent"></i> Camping
                                  </button>
                                      <button type="button" class="category-button" [class.clicked]="category === 'Musical Concert'" (click)="selectCategory('Musical Concert')" value="Musical Concert">
                                        <i class="fa-solid fa-music"></i> Musical Concert
                                      </button>
                                      <button type="button" class="category-button" [class.clicked]="category === 'Workshops'" (click)="selectCategory('Workshops')" value="Workshops">
                                        <i class="fas fa-tools"></i> Workshops 
                                      </button>
                                      <button type="button" class="category-button" [class.clicked]="category === 'Food Festivals'" (click)="selectCategory('Food Festivals')" value="Food Festivals">
                                        <i class="fa-solid fa-utensils"></i> Food Festivals
                                      </button>
                                      <button type="button" class="category-button" [class.clicked]="category === 'Carnivals'" (click)="selectCategory('Carnivals')" value="Carnivals">
                                       <i class="fas fa-mask"></i>Carnivals
                                      </button>
                      
                                  </div>
                                    
                                    <input type="hidden" id="category" name="category" value=""/>
                                    <div class="icone">
                                    <label for="type">Type</label><br><br>
                                        
                                    <div *ngIf="category === 'Musical Concert'">
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Pop'" (click)="selecttype('Pop')" value="Pop">PoP</button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Jazz'" (click)="selecttype('Jazz')" value="Jazz">Jazz</button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Rock'" (click)="selecttype('Rock')" value="Rock">Rock</button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Hip Hop/Rap'" (click)="selecttype('Hip Hop/Rap')" value="Hip Hop/Rap">Hip Hop/Rap</button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Electronic'" (click)="selecttype('Electronic')" value="Electronic">Electronic</button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Country'" (click)="selecttype('Country')" value="Country">Country</button>
      
                                    </div>
                                    <div *ngIf="category === 'Workshops'">
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Entrepreneurship'" (click)="selecttype('Entrepreneurship')" value="Entrepreneurship">Entrepreneurship</button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Personal Growth '" (click)="selecttype('Personal Growth ')" value="Personal Growth ">Personal Growth </button>
                                    </div>
                                    <div *ngIf="category === 'Picnic Trip'">
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Friendship'" (click)="selecttype('Friendship')" value="Friendship">Friendship</button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Romantic'" (click)="selecttype('Romantic')" value="Romantic">Romantic </button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Beach'" (click)="selecttype('Beach')" value="Beach">Beach </button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Family'" (click)="selecttype('Family')" value="Family">Family </button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Themed'" (click)="selecttype('Themed')" value="Themed">Themed </button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Cultural'" (click)="selecttype('Cultural')" value="Cultural">Cultural </button>
                                    </div>
                                    <div *ngIf="category === 'Camping'">
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Group'" (click)="selecttype('Group')" value="Group">Group</button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Romantic'" (click)="selecttype('Romantic')" value="Romantic">Romantic </button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Beach'" (click)="selecttype('Beach')" value="Beach">Beach </button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Desert'" (click)="selecttype('Desert')" value="Desert">Desert </button>
                                     
                                    </div>
                                    <div *ngIf="category === 'Food Festivals'">
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='International Food '" (click)="selecttype('International Food ')" value="International Food ">International Food </button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Ethnic Food '" (click)="selecttype('Ethnic Food')" value="Ethnic Food ">Ethnic Food  </button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Regional Food'" (click)="selecttype('Regional Food ')" value="Regional Food ">Regional Food  </button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Street Food '" (click)="selecttype('Street Food ')" value="Street Food ">Street Food  </button>
                                      <button class="event-button" [(ngModel)]="type_event" [class.clicked]="type_event=='Seafood'" (click)="selecttype('Seafood')" value="Seafood ">Seafood  </button>
      
                                    </div>
                                    <div *ngIf="category === 'Carnivals'">
                                      <button class="event-button" [class.clicked]="type_event == 'Traditional'" (click)="selecttype('Traditional')" value="Traditional">Traditional</button>
                                      <button class="event-button" [class.clicked]="type_event == 'Street'" (click)="selecttype('Street')" value="Street">Street</button>
                                      <button class="event-button" [class.clicked]="type_event == 'Seasonal'" (click)="selecttype('Seasonal')" value="Seasonal">Seasonal</button>
                                      <button class="event-button" [class.clicked]="type_event == 'Art'" (click)="selecttype('Art')" value="Art">Art</button>
                                  </div>
                                  
                                   <!-- Display added options -->
                                   <button *ngFor="let option of options" class="event-button" 
                                   [class.clicked]="type_event == option" 
                                   (click)="selecttype(option)" 
                                   value="option">{{ option }}</button>
 
                               <button class="event-button" (click)="addOptionInput()">More options +</button>
                               <div *ngIf="showOptionInput">
                                 <input type="text" [(ngModel)]="newOption" name="newOption">
                                 <button class="event-button" (click)="addOption()">Add Option</button>
                               </div>
                               </div>
                              
                           <div class="button-container">
                               <input type="button" name="previous" class="action-button-previous" value="Previous" (click)="previousStep()"/>
                               <input type="button" name="next" class="action-button" value="Next " (click)="nextStep()"/>
                           </div>
                       </div>
                        </fieldset>
      
                        <fieldset *ngIf="currentStep === 3">
                          <div class="form-card">
                            <h2 class="fs-title">Event services</h2><br>
      
                            <div class="menu">
                              <label id="Menu" for="menu">Event Posters</label>
                              <label for="file" class="file-upload-label">
                                <div class="file-upload-design">
                                  <span class="browse-button">
                                    <i class="fa-solid fa-file-circle-plus"></i>Add posters
                                  </span>
                                </div>
                                <input id="file" type="file" (change)="onFileSelected($event)" multiple />
                              </label>
                              <div class="uploaded-images">
                                <div *ngFor="let image of uploadedImages; let i = index" class="image-preview">
                                  <img [src]="image.url" alt="Selected image" />
                                </div>
                              </div>
                            </div>
                            
                          <div class="option">
                            <label for="access_vip"><i class="fa-solid fa-star"></i>access vip:</label>
                            <div class="radio-group">
                              <div class="radio">
                                  <input type="radio" name="r1" value="available" [(ngModel)]="access_vip">
                                  <span>Yes</span>
                              </div>
                              <div class="radio">
                                  <input type="radio" name="r1" value="not-available" [(ngModel)]="access_vip">
                                  <span>No</span>
                              </div>
                          </div>
                            </div>
                            <br>
                            <div class="option">
                              <label for="tick"><i class="fa-solid fa-ticket"></i>free-tickets:</label>
                              <div class="radio-group">
                                <div class="radio">
                                    <input type="radio" name="r2" value="available" [(ngModel)]="free_tickets">
                                    <span>Yes</span>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="r2" value="not-available" [(ngModel)]="free_tickets">
                                    <span>No</span>
                                </div>
                            </div>
                              </div>
                              <div class="group">
                                <div class="name">
                                  <label for="capacity">capacity</label>
                                  <input type="number" id="capacity" name="capacity" placeholder="capacity" [(ngModel)]="Capacity"/>
                                  <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="name">
                                  <label for="dresscode">dress code</label>
                                  <input type="text" id="dresscode" name="dresscode" placeholder="dress code" [(ngModel)]="Dress_Code"/>
                                  <i class="fa-solid fa-person-dress"></i>                                          </div>
                                </div>
                            <div class="opening-hours">
                              <span>debut date:</span>
                              <input type="date" id="debutdate" name="debutdate" placeholder="debut date" [(ngModel)]="date_debut"/>
                              <span>ending date:</span>
                              <input type="date" id="enddate" name="enddate" placeholder="end date" [(ngModel)]="date_fin"/>
                          </div>
                     
                            
                    
                 
                
                <div class="opening-hours">
                    <span>begining time:</span>
                    <input type="time" id="beginingtime" name="beginingtime" placeholder="begining time " [(ngModel)]="heure_debut"style="width: auto;"/>
                    <span>ending time:</span>
                    <input type="time" id="endingtime" name="endingtime" placeholder="ending time" [(ngModel)]="heure_fin"style="width: auto;"/>
                </div>
      
                <div class="price-container">
                  <div class="price" width="100px">
                    <div class="price-input">
                      <label for="price">Price:</label>
                      <div class="input-with-unit">
                        <input type="number" id="price" name="prix" [(ngModel)]="prix" /> 
                        <span class="unit">DT</span>
                      </div>
                    </div>
                  </div>
                </div>
      
                            <div class="button-container">
                              <input type="button" name="previous" class="action-button-previous" value="Previous" (click)="previousStep()"/>
                              <input type="button" name="next" class="action-button" value="Next " (click)="nextStep()"/>
                            </div>
                          </div>
                        
                        </fieldset>
                      
                        <fieldset *ngIf="currentStep === 4">
                          <div class="form-card">
                            <h2 class="fs-title">Contact</h2><br><br>
                            <div class="group">
                              <div class="name">
                                  <label for="firstName">Email</label>
                                    <input type="text" id="firstName" name="firstName" placeholder="Email" [(ngModel)]="email_events"/>
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                           <div class="name">
                              <label for="lastName">Phone number</label>
                              <input type="text" id="lastName" name="lastName" placeholder="+phone number" [(ngModel)]="event_phone_number"/>
                              <i class="fa-solid fa-mobile-screen-button"></i>
                          </div>
                            </div>
                              <div class="group">
                                <div class="name">
                                 
                                    <label for="firstName">Facebook</label>
                                      <input type="text" id="firstName" name="firstName" placeholder="facebook" [(ngModel)]="facebook"/>
                                      <i class="fa-brands fa-facebook"></i>
                                     
                                  </div>
                             <div class="name">
                              
                                <label for="lastName">Instagram</label>
                                <input type="text" id="lastName" name="lastName" placeholder="Instagram" [(ngModel)]="instagram"/>
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                              </div>
      
                              <div class="icone">
                                <label for="website">
                                  Website
                              </label>                                             
                              <input type="text" id="website" name="website" placeholder="Enter your website URL" [(ngModel)]="website">
                              <i class="fa fa-globe"></i>
                            </div>        
                              <div class="button-container">
                              <input type="button" name="previous" class="action-button-previous" value="Previous" (click)="previousStep()"/>
                              <input type="button" name="next" class="action-button" style="padding-top: 10px; padding-left: 18px; padding-right:10px ; " value="Submit" (click)="updateorganisereventrequest();addevent()"/>
                            </div>
                             
                            </div>
                      </fieldset>
                  
                       
                      </form>
                  </div>
              </div>

            </div>
          </div>

     </div>                 



          <!-- all the data  -->
                <table>
                    <thead>
                        <tr>
                          <th>owner</th>
                          <th>Name</th>
                          <th>adresse</th>
                          <th>descritpion</th>
                        </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let c of organiserdata | search:searchText">
                        <td>
                          {{c.first_name}}
                        </td>
                      </ng-container>
                        <tr *ngFor="let d of eventlist| search:searchText" >
                            <td>
                                {{d.name_event}}
                            </td>
                            <td>{{d.adresse}}</td>
                            <td>{{d.description}}</td>
                            <td>{{d.category}}</td>
                            <td>{{d.type_event}}</td>
                          
                            <td>
                         
                          </td>
                          <td><button class="btn" (click)="updateForm(d)">  <i class="fa-duotone fa-solid fa-square-check" style="--fa-primary-color: #23be42; --fa-secondary-color: #000000;"></i>                           </button></td>
  
                            <td><button class="btn" (click)="deleteevent(d)"> <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i></button></td>
  
                        </tr>
                      
                    </tbody>
                </table>
            </div>
            </div>
           
        <router-outlet></router-outlet>
  
    </main>
  </section>
  