<footer class="fdb-block footer-large" style="background-color:#e5e4e3">
    <div class="container">
        <div class="row align-items-center" >
            <div class="col-md-6 col-lg-4">
                <p style="font-weight: bold;"><span style="font-size: 20px;">SpotSeeker</span><br>
                <span style="font-size: 14px;">Your ultimate guide to memorable experiences!</span><br><br><span class="col text-center" style="font-size: 13px;">SpotSeeker©2024</span></p>
            </div>
            <div class="col-12 col-md-11 col-lg-2 text-md-left mt-5 mt-md-0"> </div>
                <div  class="col-12 col-lg-4 ml-auto text-lg-right mt-5 mt-lg-0" style="text-align: right;">
                 <img src="assets/image2.png" style="font-weight: bold;  margin-right: -200px;">
               
            </div>
           
        </div>
    </div>
</footer>